* {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  font-family: Inter, system-ui, Arial, sans-serif;
  user-select: none;
  background-color: var(--col-bg-alt);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}
img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* spinning spiral bg */
.spiral {
  background: none;
  --spin-speed: 120s;
}
.spiral::before {
  content: "";
  position: fixed;
  top: 50%;
  translate: -50% -50%;
  width: 300%;
  height: 300%;
  background-image: url("/src/img/spiral.png?t=2") !important;
  background-color: var(--col-bg-alt);
  background-size: cover !important;
  background-position: center !important;
  z-index: -1;
  animation: spin var(--spin-speed) linear infinite;
  /* opacity: 0.25; */
}
.spiral.reverse::before {
  animation: spin var(--spin-speed) linear infinite reverse;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

aside.players {
  width: 5vw;
  max-width: 4em;
  position: fixed;
  left: 16px;
  top: 50%;
  z-index: 98;
  translate: 0 -50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;

  & div {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    width: 4em;
    max-width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    backdrop-filter: blur(5px);
    outline: 2.5px transparent solid;
    &.speaking {
      /* color: var(--col-discord-speaking); */
      outline: 2.5px var(--col-discord-speaking) solid;
    }
    &.vip::before {
      content: "👑";
      position: absolute;
      top: -0.9em;
      /* left: 1.25vw; */
      /* center */
      left: 50%;
      transform: translateX(-50%);
      /* font-size: 1.5em; */
      font-size: 2vw;
    }
    &.czar::after {
      content: "🃏";
      position: absolute;
      top: 2.2vw;
      right: -1vw;
      /* font-size: 1.5em; */
      font-size: 1.5vw;
    }
  }
}

#app {
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: var(--cursor-default);

  & > .screen {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: var(--col-bg-alt); */
  }
}

.card {
  transform: scale(0.5);
  background-color: var(--col-bg);
  border-radius: 35px;
  width: 500px;
  height: 750px;
  &.white {
    background: var(--col-light);
    color: var(--col-dark);
  }
  &.black {
    background: var(--col-dark);
    color: var(--col-light);
  }
  & h1 {
    position: absolute;
    /* top: 20px; */
    top: 32px;
    margin-inline: 40px;
    font-size: 48px;
    font-weight: 900;
    text-align: left;
    text-wrap: pretty;
  }
  & h2 {
    position: absolute;
    /* bottom: 20px; */
    bottom: 32px;
    margin-inline: 40px;
    font-size: 24px;
    font-weight: 900;
    text-align: left;
    text-wrap: nowrap;
  }
  /* & h1 {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    font-size: 24px;
    font-weight: 900;
    margin: 0;
    padding-inline: 20px;
    text-wrap: pretty;
  }

  & h2 {
    position: absolute;
    bottom: 0px;
    left: 20px;
    font-size: 12px;
    font-weight: 900;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
  } */
}

/* LOBBY */

.screen.lobby {
  /* background-image: url("/src/img/splash_dark.png"); */
  /* background-position: center !important; */
  /* background-size: cover !important; */

  /* background-blend-mode: multiply !important; */
  & div.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24vw;
    height: 24vw;
    background: url("/src/img/logo_cards_full.png");
    background-size: cover;
  }
  & .menu {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(25%);
    width: calc(100% - 2 * 15vw);
    margin-inline: auto;
    gap: 1vw;

    & .button {
      box-shadow: 3px -2px 16px 0px rgba(0, 0, 0, 0.25);
      width: 100%;
      aspect-ratio: 1;
      background: var(--col-light);
      color: var(--col-dark);
      border-radius: 1vw 1vw 0 0;
      font-size: 2vw;
      /* cursor: pointer; */
      cursor: var(--cursor-pointer);
      /* transition: transform 0.2s ease; */
      transition: transform 1s cubic-bezier(0.16, 1, 0.3, 1);

      & h1,
      h2 {
        margin-top: 1.5vh;
        font-weight: 900;
        vertical-align: text-top;
        transition: opacity 0.2s ease;
        opacity: 1;
      }
      & h1 {
        font-size: 2vw;
      }
      & h2 {
        font-size: 1.5vw;
      }

      &.disabled {
        color: var(--col-dark);
        /* cursor: not-allowed; */
        cursor: var(--cursor-not-allowed);
        & h1,
        h2 {
          opacity: 0.5;
        }
      }

      &.btn1,
      &.btn5 {
        transform: translateY(10vh);
        &:hover:not(.disabled) {
          transform: translateY(9vh);
        }
      }

      &.btn2,
      &.btn4 {
        transform: translateY(6vh);
        &:hover:not(.disabled) {
          transform: translateY(5vh);
        }
      }

      &.btn3 {
        transform: translateY(3vh);
        &:hover:not(.disabled) {
          transform: translateY(2vh);
        }
      }
    }
  }
}

&.screen {
  & .cards {
    display: flex;
    height: 50%;
  }
}
